.about {
    .about-content {
        .about-header {
            color: #000;
            font-size: 60px;
            line-height: 74px;
            font-weight: 600;
            margin-bottom: 40px;
        }
        p {
            font-size: 22px;
            line-height: 33px;
            font-weight: 300;
        }
    }
}