.experience {
    background-color: #f8f9fa;
    .experience-content {
        .experience-header {
            color: #000;
            font-size: 50px;
            line-height: 74px;
            font-weight: 500;
            margin-bottom: 40px;
        }

        @import "timeline.scss";
    }
}