.about-featured {

	.about-text {
		p {
			font-size: 1.3em !important;
		}

		a { 
			text-decoration: none;
			color: #000;
		}

		p.social-link {
			font-size: 1.8em !important;
			font-weight: bold;
			text-align: center;
		}
	}

	a { color: #fff; }
}