footer {
	background-color: #CCCFC8;
	color: #615956;
}

.page-footer {
	width: 100%;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #615956;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #ffffff;
}

.social-link {
	color: #615956;
}

.social-link:hover {
	color: #574D49;
	text-decoration: none;
}