<section class="pb-0" id="about">
	<div class="about-featured">
		<div class="container col-md-8 text-justify">
			<p class="h1 text-center">About Me</p>
			<div class="row py-5 d-flex justify-content-center">
				<h1 class="mr-3 ml-3">Olá, eu sou o <span class="font-weight-bold">Nelson Mfinda</span></h1>

				<h2 class="text-muted mr-3 ml-3">Desenvolvedor de Software</h2>

				<div class="p-4 about-text mt-2">
					<p>Estudante de Eng.ª Informática, trabalho com Desenvolvimento de Software para Web desde 2017 (Front-End e Back-End), utilizando metodologias ágeis como Kanban e tecnologias como HTML5, CSS3, Javascript, Git, Bootstrap, SASS, PHP, Ruby e outras.</p>

					<p>Durante esse período pude participar de diversos projetos, me envolver na metodologia de ótimas equipes e compartilhar conhecimentos com colegas dentro e fora do ambiente de trabalho.</p>

					<p>Sou apaixonado por tecnologia e pelo universo open source <i class="em em-blush"></i> conectado com a comunidade, por isso faço parte do <b><a href="http://trainingcenter.io" target="_blank">Training Center</a></b> onde recebo mentoria e contribuo em projectos open source.</p>
				</div>

				<a href="https://www.linkedin.com/in/nelsonmfinda/" class="col-md-5 btn btn-primary p-2 mr-3 ml-3">Meu Currículo <i class="px-3 fas fa-file"></i></a>
			</div>
		</div>

		<div class="section-personality">
			<div class="container p-5">
				<div class="row">
					<div class="col-md-3 text-center">
						<div class="icon d-flex justify-content-center mb-4">
							<i class="fas fa-brain fa-3x" style="color: #f0908b;"></i>
						</div>
						<h5 class="font-weight-bold mt-2">RÁPIDO APRENDIZADO</h5>
						<p>Gosto de aprender fazendo</p>
					</div>
					<div class="col-md-3 text-center">
						<div class="icon d-flex justify-content-center mb-4">
							<i class="fas fa-book-open fa-3x" style="color: #00a388;"></i>
						</div>
						<h5 class="font-weight-bold mt-2">AUTODIDATA</h5>
						<p>Sempre em busca do conhecimento, para melhorar minhas habilidades</p>
					</div>
					<div class="col-md-3 text-center">
						<div class="icon d-flex justify-content-center mb-4">
							<i class="fas fa-award fa-3x" style="color: #337ab7;"></i>
						</div>
						<h5 class="font-weight-bold mt-2">CRIATIVIDADE</h5>
						<p>Ser um especialista em minha área</p>
					</div>
					<div class="col-md-3 text-center">
						<div class="icon d-flex justify-content-center mb-4">
							<i class="fas fa-code-branch fa-3x" style="color: #fbc02d;"></i>
						</div>
						<h5 class="font-weight-bold mt-2">PROATIVIDADE</h5>
						<p>Sou apaixonado pelo que faço</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>