<section class="p-4">
	<div class="about-featured">
		<div class="container col-md-8 text-justify">
			<p class="h1 text-center">About Me</p>
			<div class="row py-5 d-flex justify-content-center">
				<h1>Olá, eu sou o <span class="font-weight-bold">Nelson Mfinda</span></h1>

				<h2 class="text-muted">Desenvolvedor de Software</h2>

				<div class="p-4 about-text mt-2">
					<p>Estudante de Eng.ª Informática, trabalho com Desenvolvimento de Software para Web desde 2017 (Front-End e Back-End), utilizando metodologias ágeis como Kanban e tecnologias como HTML5, CSS3, Javascript, Git, Bootstrap, SASS, PHP, Ruby e outras.</p>

					<p>Durante esse período pude participar de diversos projetos, me envolver na metodologia de ótimas equipes e compartilhar conhecimentos com colegas dentro e fora do ambiente de trabalho.</p>

					<p>Sou apaixonado por tecnologia e pelo universo open source <i class="em em-blush"></i> conectado com a comunidade, por isso faço parte do <b><a href="http://trainingcenter.io" target="_blank">Training Center</a></b> onde recebo mentoria e contribuo em projectos open source.</p>
				</div>

				<a href="https://www.linkedin.com/in/nelsonmfinda/" class="col-md-5 btn btn-primary">Meu Currículo <i class="px-3 fas fa-file"></i></a>
			</div>
		</div>
	</div>
</section>