<h2>About</h2>
<p>My name is Nelson Junior, I was born in Luanda, Angola and I am currently staging as a Web Developer at
  <a href="https://usekamba.com">Kamba Payment Soluctions</a>, besides
  being a curious and self-taught.</p>

<h2>My Works</h2>
<ul>
  <li>Application development</li>
  <li>Mobile friendly</li>
  <li>Easy deployment</li>
</ul>

<p>For more information, please
  <a href="mailto:contacto.tingleware@gmail.com">contact me</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/dev-nelsonjr">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://twitter.com/dev_nelsonjr">Nelson Jr</a>
  </li>
</ul>
