<!DOCTYPE html>
<html lang="{{ page.language | default: site.language | default: "en" }}">
 	{% include head.html %}
	<body>
		<div class="flex-center position-ref full-height">
		    <div class="content">
		        <div class="title m-b-md">
		            Nelson Mfinda
		        </div>

		        <div class="links">
		            <a class="js-scroll-trigger" href="#about">Sobre</a>
		            <a class="js-scroll-trigger" href="#skills">Experiências</a>
		            <a class="js-scroll-trigger" href="#skills">Habilidades</a>
		            <a class="js-scroll-trigger" href="#projects">Projectos</a>
		            <a class="js-scroll-trigger" href="#contact">Contacto</a>
		        </div>
		    </div>
		  </div>