<!DOCTYPE html>
<html lang="{{ page.language | default: site.language | default: "en" }}">
 	{% include head.html %}
	<body>
		<div class="flex-center position-ref full-height">
		    <div class="content">
		        <div class="title m-b-md">
		            Nelson Mfinda
		        </div>

		        <div class="links">
		            <a href="/about">About</a>
		            <a href="/skills">Skills</a>
		            <a href="/projects">Projects</a>
		            <a href="/contact">Contact</a>
		            <a title="Meu Linkedin" href="https://www.linkedin.com/in/nelsonmfinda/"><i class="fab fa-linkedin"></i></a>
		            <a title="Meu GitHub" href="https://github.com/nelsonmfinda"><i class="fab fa-github"></i></a>
		        </div>
		    </div>
		  </div>